.app-controls{
    margin: 0 auto;
    display: flex;
    width: 1140px;
    padding: 20px;
}

.app-controls__btn button{
 padding: 10px;
 margin-left: 20px;
 margin-right: 20px;
}

.app-controls__selection{
    padding: 10px;
}

.app-controls__selection select{
    margin-left: 20px;
}